###### importing relevant libraries

In [1]:
import pandas as pd
import numpy as np

In [277]:
#loading the dataframe
df = pd.read_csv(r"FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin1")

In [299]:
#a little peep into the data
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [300]:
#Summarizing the  data
df.describe(include="all")

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

## TOTAL ANIMAL FAT PRODUCED IN 2014 AND 2017

#### Total sum of Animal Fat produced in 2014

In [88]:
 df.groupby('Item')['Y2014'].sum()["Animal fats"]

209460.54

#### Total sum of Animal Fat produced in 2017

In [93]:
 df.groupby('Item')['Y2017'].sum()["Animal fats"]

269617.53

## The mean and Standaard Deviation of the Year 2015 to 3 decimal places

In [280]:
mean = df['Y2015'].mean()
mean = round(mean,3)
std = df['Y2015'].std()
std = round(std,3)
print(f"The mean and standard deviation of the year 2015 are {mean} and {std} respectively")

The mean and standard deviation of the year 2015 are 135.236 and 1603.404 respectively

## Number and percentage of missing data in 2016

In [286]:
miss = df.Y2016.isnull().sum()
miss = round(miss,2)
percentage = miss/(df.Y2016.count()) * 100
percentage = round(percentage,2)

print(f"The number of missing values for year 2016 is {miss} and the percentage is {percentage} ")

The number of missing values for year 2016 is 1535 and the percentage is 2.58

## The year with the highest correlation with ‘Element Code’

#### From the correlation matrix below, the year with highest correlation with Element Code is Y2014 with correlation of 0.024457

In [287]:
c = df.corr().abs()
s = c.unstack()
so = s.sort_values(kind = "quicksort")
c

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,0.005159,0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,0.005159,1.000000,0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,0.000209,0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

## The year with the highest sum of Import Quantity

In [295]:
df.groupby('Element').sum()[['Y2014','Y2015','Y2016','Y2017','Y2018']]

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

#### From The above it is evident that Year 2017 has the highest import Quantity

###

## What is the total number of the sum of Production in 2014?

In [296]:
df.groupby('Element').sum()["Y2014"]['Production']

1931287.75

#### 1931287.75 is the total sum of production in 2014

In [85]:
df6=df.groupby('Element')['Y2018'].sum()
df6

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

## Which Element had the highest sum in 2018?

In [206]:
df.groupby('Element')['Y2018'].sum().sort_values(ascending=False)

Element
Domestic supply quantity                  2161192.10
Production                                2075072.89
Food                                      1303841.28
Total Population - Both sexes             1140605.00
Food supply (kcal/capita/day)              455261.00
Processing                                 308429.00
Import Quantity                            287997.09
Feed                                       233489.68
Export Quantity                            181594.80
Losses                                     163902.00
Other uses (non-food)                       91300.97
Food supply quantity (kg/capita/yr)         49056.85
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Protein supply quantity (g/capita/day)      11833.56
Fat supply quantity (g/capita/day)          10258.69
Tourist consumption                            90.00
Name: Y2018, dtype: float64

#### "Domestic supply quantity" had the highest quantity in 2018

## Which  Element had the 3rd lowest sum in 2018?

In [298]:
df.groupby('Element')['Y2018'].sum().sort_values().keys()[2]

'Protein supply quantity (g/capita/day)'

#### Protein supply quantity (g/capita/day) had the 3rd lowest quantity in 2018

In [50]:
df4 = df.groupby('Item')['Y2017'].sum()
df4

Item
Alcohol, Non-Food        2348.00
Alcoholic Beverages     95581.06
Animal Products         11547.65
Animal fats            269617.53
Apples and products     10198.90
                         ...
Vegetables, Other      157752.59
Vegetal Products       107655.20
Wheat and products     240047.62
Wine                     4178.02
Yams                   229174.59
Name: Y2017, Length: 119, dtype: float64

## Total Import Quantity in Algeria in 2018

In [276]:
er = df[df["Area"] == "Algeria"]
er.groupby('Element')['Y2018'].sum()['Import Quantity']

36238.29

#### 36238.29 is the total import Quantity in Algeria in 2018

## Total number of unique countries in the dataset

In [73]:
df.Area.nunique()

49

#### THERE ARE A TOTAL OF 49 UNIQUE COUNTRIES IN THE DATASET